**/.DS_Store/
**/.vs/
**/.idea/
**/obj/
**/bin/
**/Jetbrains*

**/Library/
**/Temp/
**/Build/
**/Logs/

*.sln
*.user
*.csproj
*.userprefs
OverdrawMonitor/Assets/Plugins.meta
OverdrawMonitor/Assets/Plugins/Editor.meta
